[user]
	name = Yosuke MIYAJIMA
	email = mayo.suke@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = false
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[color]
	ui = auto
